.policy-selector {
  ion-item {
    --background: transparent;
    --padding-start: 0;
    margin-bottom: 4px;

    p {
      font-size: 0.72rem;
      color: var(--ion-color-medium);
      margin-top: 2px;
    }
  }
}
